$primary-color: hsl(0, 0%, 15%);
$secondary-color: hsl(16, 100%, 60%);
$text-color: white;
$background-color: hsl(222, 100%, 98%);
$red: hsl(0, 100%, 50%);
$green: hsl(120, 100%, 25%);
$blue: hsl(240, 100%, 50%);
$neon: hsl(317 100% 54%);
$bg: hsl(323 21% 16%);

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$mobile: 800px;
