.navbar-wrapper {
  border: solid;

  button {
    background-color: lightgreen;
    padding: 5px;
    margin: 5px 10px;
  }

  .active {
    border: solid red;
    background-color: lightcoral;
    color: black;
  }

  .not-active {
    cursor: pointer;
    border: solid blue;
  }
}
